%body   
  = render "shared/header"
  .main-top
    あなたのお気に入りのインスタスポットを投稿しよう!
  .main-contents.pt-40
    .search-box
      .form
        .form__title
          検索
        .form__item
          .form__item__title
            エリアを選ぶ
    .posts
      .posts__header
        .posts__header__title
          人気
      .posts__contents
        .posts__item
          = link_to image_tag('test.jpg', class: 'posts__item__image', width: '160px', alt: 'ロゴ'), '#'
          .posts__item__info
            .posts__item__info__name
              テスト
                
  = render "shared/footer"