%body   
  %header.header-pc
    .header__top
      .header__top__contents
        インス映えするお店が探せるサイト

    .header__contents
      %a.header__logo
        = image_tag('logo/logo-insupo.png', width: '110px', alt: 'ロゴ')
      .header__nav
        %a.header__nav__item
          検索
        %a.header__nav__item__btn
          = link_to edit_user_path(current_user) do
            新規登録
  .main-top
    あなたのお気に入りのインスタスポットを投稿しよう!
  .main-contents.pt-40
    .search-box
      .form
        .form__title
          検索
        .form__item
          .form__item__title
            エリアを選ぶ
    .posts
      .posts__header
        .posts__header__title
          人気
      .posts__contents
        .posts__item
%footer.footer
  = render "shared/footer"