= render "shared/header"
.contents.contents--medium
  .form
    .form__title
      新規お店投稿
    .form__breadcrumb
      .form__breadcrumb__items.form__breadcrumb__item--active 
        入力
      .form__breadcrumb__item 確認
      .form__breadcrumb__item 完了
        
      
= render "shared/footer"