body{
	position: relative;
	min-height: 100vh;
	color: #333333;
	font-size: 16px;
	font-family: 'Noto Sans JP', sans-serif;
	background: #f7f7f7;
}

.contents{
  width: 960px;
  height: 100%;
  padding: 136px 0 220px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) and (min-width: 640px){
.contents {
    width: 600px;
  }
}

.contents--medium{
  width: 600px;
}

input[type="file" i] {
  display: none;
}

.btn{
	display: block;
	width: 140px;
	padding: 12px 0;
	margin: 0 auto;
	color: #ffffff;
	text-align: center;
	border: none;
	border-radius: 6px;
	background: pink;
	cursor: pointer;
}

.form{
  padding: 32px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 0 4px #eae6dc;
  &__title{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
	}
	&__breadcrumb{
		display: flex;
    width: 280px;
		margin: 0 auto 40px;
		&__items:first-child{
			padding: 0 40px 0 20px;
			border-radius: 4px 0 0 4px;
		}
		&__item:nth-child(2){
			padding: 0 40px 0 16px;
		}
		&__item:last-child{
			padding: 0 20px 0 16px;
      border-radius: 0 4px 4px 0;
		}
		&__items{
			position: relative;
			width: calc(100% / 3);
			line-height: 40px;
			text-align: center;
			background-color: #eae6dc;
		}
		&__item{
			position: relative;
			width: calc(100% / 3);
			line-height: 40px;
			text-align: center;
			background-color: #eae6dc;
		}
		&__item::before{
			content: '';
			position: absolute;
			left: -15px;
			width: 20px;
			height: 20px;
			border-left: 4px solid #ffffff;
			background-color: #eae6dc;

			bottom: 0;
			transform: skew(-30deg);
		}
		
		&__item::after{
			content: '';
			position: absolute;
			left: -15px;
			width: 20px;
			height: 20px;
			border-left: 4px solid #ffffff;
			background-color: #eae6dc;

			top: 0;
			transform: skew(30deg);
		}
		&__item--active{
			color: #ffffff;
			background-color: #FFCCCC;
		}
	}
	&__item{
	  margin-bottom: 32px;
	  &__title{
		display: flex;
		align-items: center;
		margin-bottom: 12px;
		font-weight: bold;
	  }
	  &__text{
		width: 100%;
		padding: 12px;
		border: 1px solid #eae6dc;
		border-radius: 8px;
		box-sizing: border-box;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
	  }
	  .btn--img{
		display: inline-block;
		padding: 10px 20px;
		font-size: 14px;
		border: 1px solid #eae6dc;
		border-radius: 6px;
		background: #ffffff;
		cursor: pointer;
	  }
	  &__img--hidden{
		display: none;
	  }
	}
}

